@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

header{
    display: inline;
}

header img{
    max-width: 150px;
    max-height: 150px;
    margin: 20px; 
}

.links ul{
    list-style:  none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.links li {
    float: left;
}

.links a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.links li a:hover{
    color: firebrick; 
}

.content-contaner{
    padding: 8px; 
    display: flex; 
}

.top{
    width: relative;
    height: 300px; 
    padding: 16px; 
    display: flex;
    justify-content: space-between;
}

.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px; 
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    margin: 20px; 
}

.info img{
    max-height: 200px;
    max-width: 200px; 
}

blockquote{
    display: block;
    margin: 0 auto; 
    text-align: center;
    font-size: 48px;
    background-color: darkred;
    color: white;
}

cite{
    font-size: 24px;
}
.action-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px; 
}

.action{
    background-color: burlywood;
}

footer{
    text-align: center;
}